// COLORS
$color-bg: #f4f5f9;
$color-bg-secondary: #dddfe6;

$color-text: #252c41;
$color-text-secondary: '';

$color-btn: #f26c6b;
$color-btn-hover: #f1404b;

// FONTS
$font-kanit: 'Kanit', sans-serif;
$font-poppins: 'Poppins', sans-serif;
