.favourites {
  &__sidebar {
    width: 35rem;

    @include respond(tab-port) {
      width: 40rem;
    }

    @include respond(phone) {
      width: 100vw;
    }

    &-header {
      font-size: 2rem;
      padding: 2rem 1.6rem;

      @include respond(phone) {
        font-size: 3.2rem;
      }
    }

    &-products {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      &-item {
        padding: 1.6rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;
        cursor: pointer;

        &.even {
          background-color: $color-bg;
        }

        &-img {
          height: 6.4rem;
          width: 12rem;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;

          &-src {
            height: 100%;
          }
        }
        &-details {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-left {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            &-title {
              font-size: 1.4rem;
              font-weight: 500;
            }

            &-price {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }

        &-btn {
          justify-self: end;
        }
      }

      &-btn {
        align-self: center;
        margin: 2.4rem 0;
      }
    }

    &-empty {
      padding: 2.4rem;
      text-align: center;
      &-message {
        font-size: 1.6rem;

        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-icon {
      font-size: 3.2rem;
      color: $color-btn-secondary;
      transition: all 0.2s;
    }

    &:hover &-icon {
      color: $color-btn-secondary-hover;
      transform: scale(1.05);
    }
  }
}
