.modal {
  width: 75vw;

  @include respond(tab-land) {
    width: 85vw;
  }

  @include respond(phone-mini) {
    width: 100vw;
  }

  &__header {
    padding: 2rem;

    &-title {
      font-size: 2.4rem;
    }

    &-icon {
      &-close,
      &-maximize {
        width: 2rem;
        height: 2rem;
      }
    }

    &-btn {
      &-close {
        width: 3.6rem;
        height: 3.6rem;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    padding: 2rem;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: stretch;
    }

    &-gallery {
      &-item {
        padding: 3.2rem 4rem;
        width: 50rem;
        height: 40rem;

        @include respond(tab-land) {
          width: 40rem;
          height: 32rem;
        }
      }
      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        &-next,
        &-prev {
          top: 50%;
          transform: translateY(-50%);
          border-radius: 99rem;
          background-color: rgba($color: $color-btn, $alpha: 0.5);
          transition: all 0.2s;

          &:hover {
            background-color: rgba($color: $color-btn, $alpha: 0.85);
          }
        }
      }

      &-thumbnail {
        &-img {
          display: flex;
          height: 10rem;
        }
        &-items {
          display: flex;
          justify-content: space-evenly;
          gap: 1.2rem;

          &-container {
            padding: 1.2rem;
          }

          &-item {
            padding: 0;
            flex: initial !important;
          }
        }
        &-wrapper {
          padding: 0 4rem;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      &-p {
        font-size: 1.4rem;
      }

      & hr {
        opacity: 25%;
      }

      &-description {
        font-size: 1.2rem;

        & li {
          list-style: none;
        }
      }

      &-heading {
        font-size: 2rem;
      }

      &-title {
        display: flex;
        align-items: center;
        gap: 3.2rem;
        &-text {
          font-size: 2.4rem;
          &-vendor {
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }

      &-variants {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        align-items: center;
      }
    }
  }
}
