.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text;
  gap: 1rem;
  height: 8rem;
  padding-bottom: 3.2rem;

  @include respond(phone) {
    gap: 0.4rem;
  }

  & h3 {
    font-weight: 600;
  }
  &-button {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: inherit;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &.disabled {
      cursor: auto;
      color: rgba($color: $color-text, $alpha: 0.25);
    }

    &-number {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      &:hover {
        background-color: rgba($color: $color-btn-secondary-hover, $alpha: 0.5);
      }

      @include respond(phone) {
        height: 3.6rem;
        width: 3.6rem;
      }
    }

    &-number.active {
      background: $color-btn-secondary;
      height: 4.4rem;
      width: 4.4rem;
      color: white;
      box-shadow: $box-shadow;
    }
  }
}
