.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 99rem;
  padding: 0 1.8rem;
  width: 50vw;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid $color-btn-secondary;
  box-shadow: $box-shadow;

  @include respond(tab-port) {
    display: none;
  }

  &--mobile {
    display: none;
    width: auto;
    @include respond(tab-port) {
      display: flex;
      position: sticky;
      top: 4rem;
      z-index: 2;
      left: 50%;
      transform: translate(0, -50%);
    }
  }

  &__input {
    font-family: inherit;
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 99rem 0 0 99rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #acacac;
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: inherit;

    &-hidden {
      opacity: 0;
      user-select: none;
      visibility: hidden;
    }

    &:hover &-icon {
      transform: scale(1.1);
    }

    &-icon {
      font-size: 2rem;
      color: $color-text;
      will-change: transform;
      transition: all 0.2s;
    }
  }
}
