.filters-skeleton {
  display: flex;
  align-items: center;
  height: 6.2rem;
  overflow-x: auto;
  gap: 0.8rem;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 99rem;
  }

  &__btn {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;
    white-space: nowrap;
    color: inherit;
    border-radius: 99rem;
    height: 3.8rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
