.products {
  &-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    place-items: center;
    gap: 2.8rem;
    row-gap: 3.6rem;
    padding: 3.2rem 0;
    border-top: $border;
    border-bottom: $border;
  }

  &-empty {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: 100%;

    &-text {
      font-size: 2rem;
      text-align: center;
    }

    &-btn {
      align-self: center;
      font-family: inherit;
      font-weight: 400;
      font-size: 1.6rem;
      color: inherit;
      padding: 0.4rem 2rem;
      border: 2px solid $color-btn;
      background-color: white;
      border-radius: 99rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: $color-btn-hover;
        border-color: $color-btn-hover;
        transform: translateY(-0.3rem);
        color: white;
      }

      &:hover &-icon {
        color: white;
      }

      &-icon {
        color: $color-btn;
        transition: all 0.2s;
      }
    }
  }
}
